.services{
    padding: 1rem;
    transition: .35s all;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        .service_icon{
            span{
                font-size: 3.8rem;
                background: transparent;
                padding: 1.5rem;
                border-radius: 40%;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                color:#000;
                border: .1rem solid #ffbc13;
            }
        }
    }

}

.services_content{
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    .service_icon{
        padding: 1rem;
        span{
            font-size: 3.8rem;
            background: #ffbc13;
            padding: 1.5rem;
            border-radius: 40%;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            color:#fff;
            
        }
    }
    .services_des{
        padding: .5rem;
        h1{
            font-size: 2.5rem;
            display: block;
            color: gray;
        }
        p{
            text-align: justify;
            font-size: 1.7rem;
            color: gray;
        }
    }
}
// service end 
.futurebgimage{
    background-image: url('../images/future.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.futurebg{
    // background: rgba(0, 0, 0, 0.62);
}
.future_slider{
    position: relative;
    background: #fff;
    text-align: cover;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    &:hover{
        border-radius: 1rem;

    }
}
.future_image{
    height: 40rem;
    width: 100%;
    object-fit: cover;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
}
.future_work_content{
    padding: 2rem 0rem;
    h4{
        color: #ffbc13;
        font-size: 2.5rem;
    }
    p{
        font-size: 1.6rem;
    }
}
// future end 
.why_choose_us{
    padding: 1rem ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.choose_image{
    padding: 1rem;
    img{
        height: 40rem;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}
// facts css 
.fact_content{
    padding: 3rem 0rem;
    h1{
        font-size: 5rem;
        font-weight: 700;
        font-family: 'Roboto',sans-serif;
        padding-bottom: 2rem  ;
        span{
            color: #ffbc13;
        }
    }
}
// testimonial
.testi_item{
    padding: 1rem 0rem;
    position: relative;
    border-left: 1.8rem solid #ffbc13;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin: 2rem 1rem; 
    background: linear-gradient(156deg, rgba(233,227,227,0) 92%, rgba(255,188,19,1) 92%);
    .testi_image{
        height: 10rem;
        width: 10rem;
        object-fit: cover;
       margin-bottom: 2rem ;
       

        img{
            height: 10rem;
            width: 10rem;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
            border: .5rem solid #ffbc13;
            margin-left: 2rem;
        }

    }
    .t_client_info{
        background: #ffbc13;
        h1{
            font-size: 3.8rem ;
            font-weight: 700;
            color: #fff;
            padding: .5rem .2rem ;
            text-transform: capitalize;
            span{
                color: #000;
            }
        }
    }
    .test_des{
        padding: 2rem 2rem ;
        p{
            font-size: 1.7rem;
            color: gray;
            font-style: italic;
        }
    }
    .rating{
        padding:1rem 2rem;
        span{
            color: #ffbc13;
            font-size: 2rem;
            &::after{
                display: inline-block;
                content: '|| Rating 4.5 out of 5 ';
            }
        }
    }
}