@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,900&display=swap");
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 45%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 50%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .left_bar {
    display: block;
  }
  .header_top {
    background: #ffbc13;
  }
  .left_bar ul li {
    display: inline-block;
    padding: 1rem;
  }
  .left_bar ul li a {
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
  }
  .left_bar ul li a:hover {
    color: #000;
    transition: 1s all;
  }
  .left_bar ul li a span {
    color: #fff;
    padding-right: 0.5rem;
    margin: 0;
    font-size: 1.6rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  body {
    overflow-x: hidden;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 45%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 50%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .left_bar {
    display: block;
  }
  .header_top {
    background: #ffbc13;
  }
  .left_bar ul li {
    display: inline-block;
    padding: 1rem;
  }
  .left_bar ul li a {
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
  }
  .left_bar ul li a:hover {
    color: #000;
    transition: 1s all;
  }
  .left_bar ul li a span {
    color: #fff;
    padding-right: 0.5rem;
    margin: 0;
    font-size: 1.6rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  body {
    overflow-x: hidden;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  color: #000;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
}

ol, ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  padding: 0;
  margin: 0;
}

.section-padding {
  padding: 5rem 0rem;
}

.content-padding {
  padding: 1rem;
}

.comon_button {
  margin-top: 1rem;
}
.comon_button button {
  border: none;
  background: #ffbc13;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.comon_button button:hover {
  padding: 1rem 2rem;
  transition: 0.35s all;
}
.comon_button button a {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.comon_button button a:hover {
  color: red;
  transition: 0.35s all;
}

.comon_button2 {
  margin-top: 1rem;
}
.comon_button2 button {
  border: none;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.comon_button2 button:hover {
  padding: 1rem 2rem;
  transition: 0.35s all;
}
.comon_button2 button a {
  color: #000;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.comon_button2 button a:hover {
  color: red;
  transition: 0.35s all;
}

.common_heading {
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: block;
  align-items: center;
}
.common_heading p {
  color: red;
  font-size: 2.2rem;
}
.common_heading h1 {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.common_heading h1 span {
  color: red;
}
.common_heading h1 span::after {
  content: "";
  height: 0.2rem;
  width: 6rem;
  background: red;
  display: inline-block;
}
.common_heading h1 span::before {
  content: "";
  height: 0.2rem;
  width: 6rem;
  background: red;
  display: inline-block;
}
.common_heading strong {
  font-size: 1.8rem;
  color: #000;
  padding: 0rem 2rem;
  font-weight: 200;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.teamprofile {
  border-radius: 1rem;
}
.teamprofile:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-bottom: 0.3rem solid red;
  border-right: 0.3rem solid red;
  border-radius: 1rem;
  transition: 1s all;
}

.team_banner_bg {
  background: linear-gradient(135deg, rgba(65, 65, 65, 0.8771883754) 50%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 64%);
}

.accordion-header button {
  font-size: 1.8rem;
}

.accordion-body p {
  font-size: 1.6rem;
}

.header_top {
  background: green;
}

.left_bar ul li {
  display: inline-block;
  padding: 1rem;
}
.left_bar ul li a {
  font-size: 1.6rem;
  color: #fff;
  text-transform: capitalize;
}
.left_bar ul li a:hover {
  color: #000;
  transition: 1s all;
}
.left_bar ul li a span {
  color: #fff;
  padding-right: 0.5rem;
  margin: 0;
  font-size: 1.6rem;
}

.right_bar ul li {
  display: inline-block;
  padding: 1rem;
}
.right_bar ul li a {
  font-size: 1.6rem;
  color: #fff;
  text-transform: capitalize;
}
.right_bar ul li a:hover {
  color: red;
  transition: 1s all;
}
.right_bar ul li a span {
  color: #fff;
  padding-right: 0.5rem;
  margin: 0;
  font-size: 1.6rem;
}

.logo {
  padding: 1rem;
}
.logo img {
  height: 3rem;
}

.menubar {
  position: relative;
  background: white;
  padding: 1rem;
}

.main_header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  background: white;
}

.main_menu ul li {
  position: relative;
  display: inline-block;
  justify-content: flex-end;
  padding: 1.5rem 1.8rem;
}
.main_menu ul li:hover {
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}
.main_menu ul li:hover .submenu {
  display: block;
}
.main_menu ul li a {
  text-transform: capitalize;
  font-size: 1.6rem;
  padding: 0rem;
}
.main_menu ul li a:hover {
  color: red;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.main_menu .submenu {
  position: absolute;
  top: 5.1rem;
  left: 0;
  background: white;
  display: none;
  z-index: 1;
  text-align: left;
  z-index: 1045;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.main_menu .submenu ul li {
  display: block;
  min-width: 22rem;
  padding: 0.5rem;
  border-bottom: 0.1rem solid white;
}
.main_menu .submenu ul li a {
  text-transform: capitalize;
  color: #000;
  font-size: 1.5rem;
}
.main_menu .submenu ul li a:hover {
  padding: 0rem 0.5rem;
  color: red;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}

.mobile_icon {
  background: red;
  margin: 0;
  justify-content: center;
  font-size: 3rem;
}

.mobile_menu {
  padding: 1rem 0rem;
  background: white;
}
.mobile_menu ul li {
  position: relative;
  padding: 1rem 2rem;
  margin-top: 0.1rem;
}
.mobile_menu ul li:hover {
  background: #000;
  color: #fff;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}
.mobile_menu ul li:hover a {
  color: white;
  padding: 0rem 1rem;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}
.mobile_menu ul li:hover .mobile_submenu {
  display: block;
}
.mobile_menu ul li a {
  color: black;
  font-size: 2rem;
}
.mobile_menu ul li a:hover {
  color: red;
  padding: 0rem 1rem;
  transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -ms-transition: 1s all;
  -o-transition: 1s all;
}
.mobile_menu ul li .mobile_submenu {
  position: absolute;
  top: 5rem;
  left: 0;
  height: auto;
  width: 100%;
  background: red;
  display: none;
  z-index: 1;
}
.mobile_menu ul li .mobile_submenu ul li {
  padding: 0.5rem 1rem;
}
.mobile_menu ul li .mobile_submenu ul li a {
  font-size: 1.8rem;
  text-transform: capitalize;
}
.mobile_menu ul li .mobile_submenu ul li a:hover {
  padding: 0rem 2rem;
  color: red;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}

.section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #0A0A24;
  padding: 3rem 0rem;
  color: white;
}

.top_f_content {
  padding-bottom: 2rem;
  border-bottom: 0.5px solid white;
  margin-bottom: 2rem;
}
.top_f_content h1 {
  color: white;
  font-size: 3.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-bottom: 2rem;
}
.top_f_content h1::after {
  content: "";
  height: 0.5rem;
  width: 10rem;
  background: red;
  display: block;
}
.top_f_content p {
  color: #fff;
  font-size: 1.8rem;
}

.f-logo {
  padding: 2rem 0rem;
}

.footer_content {
  padding: 1rem 0rem;
}
.footer_content h3 {
  color: #fff;
  font-size: 2.5rem;
  padding: 1rem 1rem;
  background: transparent;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 28px 28px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-transform: capitalize;
  display: block;
  border-right: 1px solid red;
  border-left: 1px solid red;
}
.footer_content ul li {
  padding: 0.1rem 0.1rem;
}
.footer_content ul li:hover {
  background: #000;
}
.footer_content ul li:hover a {
  padding-left: 1rem;
  color: red;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}
.footer_content ul li:hover span {
  padding-left: 1rem;
  color: white;
  transition: 0.35s all;
  -webkit-transition: 0.35s all;
  -moz-transition: 0.35s all;
  -ms-transition: 0.35s all;
  -o-transition: 0.35s all;
}
.footer_content ul li span {
  color: red;
  font-size: 1.5rem;
}
.footer_content ul li a {
  color: white;
  font-size: 1.7rem;
}

.address a {
  color: white;
  font-size: 1.6rem;
}

.copyright {
  text-align: center;
}
.copyright p {
  color: white;
  font-size: 1.8rem;
}

.slider_section_bg {
  background: #ffbc13;
}

.overlay_index {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.owl-theme .owl-nav .index_banner_slider {
  margin-bottom: 0;
}

.slider_item {
  position: relative;
  height: 70rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.slider_item .slider_image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; /* Adjusted */
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider_item .slider_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  animation: scale 5s linear infinite;
}

@keyframes scale {
  100% {
    transform: scale(1.5);
  }
}
.slider_text {
  position: absolute;
  width: 100%;
  height: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  top: 25rem;
  z-index: 1035;
}
.slider_text p {
  font-size: 2.2rem;
  letter-spacing: 1rem;
  font-weight: 600;
}
.slider_text h1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 7rem;
}
.slider_text h1 span {
  color: red;
}

.prev {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px !important;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  color: #000;
  border-left: 2px solid red;
  border-right: 2px solid red;
  transition: 0.35 linear;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation: zoomIn 3s linear;
}
.prev:hover {
  background-color: #ffbc13;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transition: 0.35 linear;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.next {
  position: absolute;
  bottom: 15rem;
  right: 50%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px !important;
  height: 40px;
  width: 40px;
  border-radius: 2px;
  color: #000;
  border-left: 2px solid red;
  border-right: 2px solid red;
  transition: 0.35 linear;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  animation: zoomIn 3s linear;
}
.next:hover {
  background-color: #ffbc13;
  border-left: 2px solid white;
  border-right: 2px solid white;
  transition: 0.35s linear;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.owl-carousel .owl-item.active .slider_item .slider_text p {
  animation: zoomIn 2s linear;
}

.owl-carousel .owl-item.active .slider_item .slider_text h1 {
  animation: zoomIn 2s linear;
}

.owl-carousel .owl-item.active .slider_item .slider_text button {
  animation: zoomIn 2s linear;
}

.owl-carousel .owl-item.active .slider_item .slider_text {
  animation: zoomIn 2s linear;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem;
}

.bottom_content_index {
  padding: 2.5rem;
}
.bottom_content_index a {
  color: gray;
  display: inline-block;
}
.bottom_content_index a:hover {
  color: red;
  transition: 0.35s all;
  padding-left: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html {
    font-size: 45%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 50%;
  }
  .main_menu {
    display: none;
  }
  .left_bar {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 55%;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .left_bar {
    display: block;
  }
  .header_top {
    background: #ffbc13;
  }
  .left_bar ul li {
    display: inline-block;
    padding: 1rem;
  }
  .left_bar ul li a {
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
  }
  .left_bar ul li a:hover {
    color: #000;
    transition: 1s all;
  }
  .left_bar ul li a span {
    color: #fff;
    padding-right: 0.5rem;
    margin: 0;
    font-size: 1.6rem;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }
  body {
    overflow-x: hidden;
  }
  .main_menu {
    display: block;
  }
  .mobile_icon {
    display: none;
  }
  .header_top {
    background: #ffbc13;
  }
}
h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  color: #000;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: 200;
}

ol, ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #000;
  padding: 0;
  margin: 0;
}

.section-padding {
  padding: 5rem 0rem;
}

.content-padding {
  padding: 1rem;
}

.comon_button {
  margin-top: 1rem;
}
.comon_button button {
  border: none;
  background: #ffbc13;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.comon_button button:hover {
  padding: 1rem 2rem;
  transition: 0.35s all;
}
.comon_button button a {
  color: #fff;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.comon_button button a:hover {
  color: red;
  transition: 0.35s all;
}

.comon_button2 {
  margin-top: 1rem;
}
.comon_button2 button {
  border: none;
  background: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.comon_button2 button:hover {
  padding: 1rem 2rem;
  transition: 0.35s all;
}
.comon_button2 button a {
  color: #000;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.comon_button2 button a:hover {
  color: red;
  transition: 0.35s all;
}

.common_heading {
  text-align: center;
  justify-content: center;
  justify-items: center;
  display: block;
  align-items: center;
}
.common_heading p {
  color: red;
  font-size: 2.2rem;
}
.common_heading h1 {
  font-size: 4.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.common_heading h1 span {
  color: red;
}
.common_heading h1 span::after {
  content: "";
  height: 0.2rem;
  width: 6rem;
  background: red;
  display: inline-block;
}
.common_heading h1 span::before {
  content: "";
  height: 0.2rem;
  width: 6rem;
  background: red;
  display: inline-block;
}
.common_heading strong {
  font-size: 1.8rem;
  color: #000;
  padding: 0rem 2rem;
  font-weight: 200;
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.teamprofile {
  border-radius: 1rem;
}
.teamprofile:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-bottom: 0.3rem solid red;
  border-right: 0.3rem solid red;
  border-radius: 1rem;
  transition: 1s all;
}

.team_banner_bg {
  background: linear-gradient(135deg, rgba(65, 65, 65, 0.8771883754) 50%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0) 64%);
}

.accordion-header button {
  font-size: 1.8rem;
}

.accordion-body p {
  font-size: 1.6rem;
}

.services {
  padding: 1rem;
  transition: 0.35s all;
}
.services:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.services:hover .service_icon span {
  font-size: 3.8rem;
  background: transparent;
  padding: 1.5rem;
  border-radius: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #000;
  border: 0.1rem solid #ffbc13;
}

.services_content {
  justify-content: center;
  justify-items: center;
  display: flex;
  align-items: center;
}
.services_content .service_icon {
  padding: 1rem;
}
.services_content .service_icon span {
  font-size: 3.8rem;
  background: #ffbc13;
  padding: 1.5rem;
  border-radius: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
}
.services_content .services_des {
  padding: 0.5rem;
}
.services_content .services_des h1 {
  font-size: 2.5rem;
  display: block;
  color: gray;
}
.services_content .services_des p {
  text-align: justify;
  font-size: 1.7rem;
  color: gray;
}

.futurebgimage {
  background-image: url("../images/future.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.future_slider {
  position: relative;
  background: #fff;
  text-align: cover;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.future_slider:hover {
  border-radius: 1rem;
}

.future_image {
  height: 40rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.future_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.future_work_content {
  padding: 2rem 0rem;
}
.future_work_content h4 {
  color: #ffbc13;
  font-size: 2.5rem;
}
.future_work_content p {
  font-size: 1.6rem;
}

.why_choose_us {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.choose_image {
  padding: 1rem;
}
.choose_image img {
  height: 40rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.fact_content {
  padding: 3rem 0rem;
}
.fact_content h1 {
  font-size: 5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  padding-bottom: 2rem;
}
.fact_content h1 span {
  color: #ffbc13;
}

.testi_item {
  padding: 1rem 0rem;
  position: relative;
  border-left: 1.8rem solid #ffbc13;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  margin: 2rem 1rem;
  background: linear-gradient(156deg, rgba(233, 227, 227, 0) 92%, rgb(255, 188, 19) 92%);
}
.testi_item .testi_image {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
}
.testi_item .testi_image img {
  height: 10rem;
  width: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 0.5rem solid #ffbc13;
  margin-left: 2rem;
}
.testi_item .t_client_info {
  background: #ffbc13;
}
.testi_item .t_client_info h1 {
  font-size: 3.8rem;
  font-weight: 700;
  color: #fff;
  padding: 0.5rem 0.2rem;
  text-transform: capitalize;
}
.testi_item .t_client_info h1 span {
  color: #000;
}
.testi_item .test_des {
  padding: 2rem 2rem;
}
.testi_item .test_des p {
  font-size: 1.7rem;
  color: gray;
  font-style: italic;
}
.testi_item .rating {
  padding: 1rem 2rem;
}
.testi_item .rating span {
  color: #ffbc13;
  font-size: 2rem;
}
.testi_item .rating span::after {
  display: inline-block;
  content: "|| Rating 4.5 out of 5 ";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=main.css.map */