/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background: #ffff;
        position: none;
        overflow-x: hidden;
    }
    img{
        height: 200px ;
    }
h1{
    font-size:3vw !important;
}
h2{
    font-size:25px;
}
h3{
    font-size:20px;
}
h4{
    font-size:26px;
}
h5{
    font-size: 16px;
}
a{
    font-size:16px;
}
.banner-social{
    display:none;
}
.banner_images{
    position: absolute;
    background: transparent;
    bottom: 0;
    right: 10%;
    z-index: 1;
    height: 80vh;
    width: auto;
    object-fit: cover;
    display: none;
}
.slider-text{
    position: absolute ;
    top: 30%;
    left:10%;
    right:10%;
    z-index: 1;
    width: 80%;
    text-align: center ;
    margin-right:100px ;
    transform: translateX(-50% , -50%);
    
}

.slider-text h1{
    text-align:center;
    
}
.slider-text h6{
    text-align:center;
    font-size:16px !important;
    font-style:normal;
    letter-spacing: none;
}
.slider-text p {
    text-transform: normal;
    font-size: 18px;
    color: gray;
    text-align: left;
    font-style: italic;
    margin-top: 20px;
    font-family: sans-serif;
    text-align: center;
}
.slider-text h6::after {
    display: inline-block;
    height: 5px;
    width: 40px;
    background: red;
    content: "";
    bottom: 0;
}
.slider-text h6::before {
    display: inline-block;
    height: 5px;
    width: 40px;
    background: red;
    content: "";
    bottom: 0;
}
.prev{
    position: absolute;
    top: 2%;
    left: 0%;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px !important;
    height: 30px;
    width: 30px ;
    border-radius: 2px ;
    color: #000;
    border-left: 2px solid red;
    border-right: 2px solid red;
    transition: 0.35 linear;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation:zoomIn 3s linear; 

    }
.next {
    position: absolute;
    top: 10%;
    left: 0%;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px !important;
    height: 30px;
    width: 30px ;
    border-radius: 2px ;
    color: #000;
    border-left: 2px solid red;
    border-right: 2px solid red;
    transition: 0.35 linear;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation:zoomIn 3s linear;

    }
    .slider-text a button{
        padding: 10px 10px;
    }
.left_text{
    display: none;
}
    /* about  */

    .index_about_image{
        position: relative;
     }
     .index_about_image img{
         outline: 2px solid gray ;
         outline-offset: 5px ;
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         width: 75%;
     }
     .another_image{
         position: absolute;
         bottom: 0;
         left: -10%;
     }
     .another_image2{
         position: absolute;
         top: -10%;
         right: 0;
         z-index: -1;
     }
     .another_image img{
        display: none;
     }
     .another_image2 img{
         box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
         height: 300px;
         border-radius: 10px;
         border: 2px solid yellowgreen;
     
     }
     .service_icon{
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        z-index: 1;
     
        text-align: center;
        padding: 3px;
    }
    .start_end_images img{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        border-radius: 10px;
        width: 100%;
    
    }
    .start_end_immi_content{
        position: relative;
    }
    .over_image{
        position: absolute;
        top: 37%;
        right: 0%;
        z-index: 1;
        border: 5px solid red ;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
       
    }
/* slider content end here  */

    /* contact  */
    .icon_info {
        padding: 0px 13px;
        background: linear-gradient(45deg, rgba(2,0,36,1) 85%, rgba(9,9,121,0) 85%);
        margin-right: 30px;
        margin-top: 8px;
    }
    .icon_info a{
        font-size: 18px;
    }
    .icon_info a span{
        font-size: 18px;
    }
    .icon_info_mail{
        padding: 0px 30px ;
        background: linear-gradient(45deg, rgba(9,9,121,0) 13%, rgba(2,0,36,1) 13%);
        margin-right: 0px;
    }
    .icon_info_mail a {
        color: #fff;
        font-size: 18px;
    }
    .icon_info_mail a {
        font-size: 18px;
    }
    .clients_contact_index_from {
        position: absolute;
        left: 0;
        top: 0;
        background: white;
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .form_title{
        font-size:20px;
    }
    .phone_details h1{
        font-size: 30px;
    }
    .section-padding{
        padding: 20px 0px ;
    }
    .locationmarg{
        margin-top: 100px;
    }
    .name h1{
        display: none;
    }
    .achiv_image img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
        outline: 3px dotted green;
        outline-offset: 10px;
        border-top: 10px solid red;
        border-bottom: 10px solid red;
    }
    .step{
        position: absolute;
        top: 0;
        left: 0;
        background: red;
    }
    .content{
        background: rgba(0, 0, 0,0.68);
        padding: 50px;
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background: #ffff;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background: #ffff;
    }
   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background: #ffff;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background: #ffff;
    }
   
}